[Unit]
Description=The Salt Sub daemon
After=network.target

[Service]
Type=notify
NotifyAccess=all
LimitNOFILE=8192
ExecStart=/usr/bin/salt-maid

[Install]
WantedBy=multi-user.target
