[Unit]
Description=The Salt Maid Server
Documentation=man:salt-maid(1) file:///usr/share/doc/salt/html/contents.html https://docs.saltstack.com/en/latest/contents.html
After=network.target

[Service]
Type=notify
NotifyAccess=all
LimitNOFILE=8192
ExecStart=/usr/bin/salt-maid

[Install]
WantedBy=multi-user.target
